<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link rel="stylesheet" href="static/css/material.min.css">
    </head>
    <body ng-app="app">
        <script src="static/js/angular.min.js"></script>
        <script src="static/js/material.min.js"></script>
        <script src="static/js/app.js"></script>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">OneCloud Store - catálogo</span>
                </div>
            </header>
            <main class="mdl-layout__content" ng-controller="AppController">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <h3>Filtros</h3>
                        <p>
                            Sistema operacional:
                            <label for="" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                ng-repeat="os in filters.os">
                                <input type="checkbox" class="mdl-checkbox__input" ng-model="os.checked">
                                <span class="mdl-checkbox__label">{$ os.label $}</span>
                            </label>    
                        </p>
                        <p>
                            CPU's:
                            <label ng-repeat="cpu in filters.cpu" 
                                class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                <input type="checkbox" class="mdl-checkbox__input" ng-model="cpu.checked">
                                <span class="mdl-checkbox__label">{$ cpu.value $}</span>
                            </label>
                        </p>
                        <p>
                            Memória:
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                ng-repeat="memory in filters.memory">
                                <input type="checkbox" class="mdl-checkbox__input" ng-model="memory.checked">
                                <span class="mdl-checkbox__label">{$ memory.value $} GB</span>
                            </label>    
                        </p>
                        <p>
                            Armazenamento:
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                ng-repeat="disk in filters.disk">
                                <input type="checkbox" class="mdl-checkbox__input" ng-model="disk.checked">
                                <span class="mdl-checkbox__label">{$ disk.value $} GB</span>
                            </label>    
                        </p>
                        <p>
                            Provedor:
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                ng-repeat="provider in filters.provider">
                                <input type="checkbox" class="mdl-checkbox__input" ng-model="provider.checked">
                                <span class="mdl-checkbox__label">{$ provider.label $}</span>
                            </label>
                        </p>
                        
                        
                        
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h2>Compare</h2>
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Provedor</th>
                                    <th class="mdl-data-table__cell--non-numeric">Produto</th>
                                    <th>vCPU</th>
                                    <th>Memória</th>
                                    <th>Disco</th>
                                    <th>$/hora</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="plan in filtered = (plans | planFilter:filters)">
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {$ plan.provider.name $}
                                    </td>
                                    <td class="mdl-data-table__cell--non-numeric">
                                        {$ plan.name $}
                                    </td>
                                    <td>
                                        {$ plan.instance.v_cpu $}
                                    </td>
                                    <td>
                                        {$ plan.instance.memory $} GB
                                    </td>
                                    <td>
                                        {$ plan.instance.disk_space $} GB
                                    </td>
                                    <td>
                                        {$ plan.price | currency $}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>